<div id="main-wrapper">
	
	<div class="contrast-bg">
		<h1>Sidebar Navigation</h1>
		<p>A CSS-Only Sidebar menu for websites.</p>
	</div>
	
	<div class="container">
		
		<div class="contrast-bg">
			
			<p>Hover over the menu-icon in the right upper corner to open the sidebar-menu.</p>
			
		</div>
		
	</div>
	
</div>

<!-- Navigation-Element -->
<nav>
	<ul>
		<li><a href="#0">Home</a></li>
		<li><a href="#0">About</a></li>
		<li><a href="#0">Clients</a></li>
		<li><a href="#0">Services</a></li>
		<li><a href="#0">Contact</a></li>
	</ul>
</nav>