<html>
  <head>
  </head>
  <body>
  <header>
    <p style="height: 130px"></p>
  </header>

  <main>
    <div class="clearfix bottom">
      <div class="img-container center-bottom" style="background-color: rgba(154,233,249,1)" [routerLinkActive]="['link-active']">
        <a [routerLink]="['/dog-default-search']">
          <img src="/assets/images/pexels-sergio-souza-3197917.jpg" style="height: 20vw; width: 100%; border-radius: 10px"> </a>
          <br>
          I <i class="fa fa-heart"></i> DOGS 
      </div>
      <div class="img-container center-bottom" style="background-color: rgba(106,163,231,1)" [routerLinkActive]="['link-active']">
        <img src="/assets/images/pexels-snapwire-46024.jpg" style="height: 20vw; width: 100%; border-radius: 10px">
          I <i class="fa fa-heart"></i> DOGS & CATS
      </div>
      <div class="img-container center-bottom" style="background-color: rgba(8,104,218,1) " [routerLinkActive]="['link-active']">
        <a [routerLink]="['/cat-default-search']">
        <img src="/assets/images/pexels-pixabay-416160.jpg" style="height: 20vw; width: 100%; border-radius: 10px"> </a>
        I <i class="fa fa-heart"></i> CATS
      </div>
  </div>


    <h1>DOGS & CATS</h1>

    <p>Welcome to your new single-page application, built with:</p>
    <ul>
      <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
      <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
      <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
    </ul>
    <p>To help you get started, we've also set up:</p>
    <ul>
      <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
      <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
      <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
    </ul>
    <p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
  </main>
  </body>
</html>
